# Ignore everything in .pkg but allow traversing directories
/.pkg/**/*
!/.pkg/**/

!/.pkg/.local/share/applications/com.mitchellh.ghostty*.desktop
!/.pkg/.local/share/systemd/user/app-com.mitchellh.ghostty*.service

*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.direnv/
.envrc.local
.flatpak-builder/
zig-cache/
.zig-cache/
zig-out/
/result*
/.nixos-test-history
example/*.wasm
test/ghostty
test/cases/**/*.actual.png
flatpak/builddir/
flatpak/repo/

glad.zip
/Box_test.ppm
/Box_test_diff.ppm
/ghostty.qcow2

vgcore.*
